<footer class="footer">
  <div class="lw-container">
    <div class="footer__section">
      <a href="index.html" aria-label="Логотип">
        <img src="./assets/img/logo-white.svg" alt="Логотип" width="186" height="46">
      </a>
      @include('../components/contacts.html')
    </div>
    <div class="footer__section">
      <span class="lw-lighttext">
        Все фото и видеоматериалы являются собственностью "ДжиЭмТи". Любое копирование материалов с сайта www.gmt-clinic.ru без письменного разрешения не допускается.
      </span>

      <span class="lw-lighttext">
        Единственным правообладателем товарного знака «GMTCLINIC» («ДЖИЭМТИ КЛИНИК») на территории Российской Федерации является Общество с ограниченной ответственностью «ДжиЭмТи», расположенное по адресу:г. Москва, Новинский бульвар, д.20А. Стр.9. Законным правом на использование данного товарного знака обладают также ООО «ДжиЭмТи Плюс», ООО «ДжиЭмТи Престиж» и ООО «Камертон».
      </span>
    </div>

    <div class="footer__underblock">
      <span class="lw-lighttext company-rights">
        © 2014-2019 GMTClinic (ООО "ДжиЭмТи")
      </span>

      <a href="#" class="lw-lighttext">Карта сайта</a>
      <a href="#" class="lw-lighttext">Соглашение об обработке персональных данных</a>
      <a href="#" class="lw-lighttext">Справочная инфомация для клиентов</a>
    </div>
  </div>
</footer>
